@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wdth,wght@0,112.5,100..900;1,112.5,100..900&family=Teko:wght@300..700&display=swap');
*{
     padding:0;
     margin: 0;
     box-sizing: border-box;
}
header, nav, main, footer{
     background-color:#0D0D0D; 
     color: black; 
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding: 50px;
    font-family: "Advent Pro", sans-serif;
}
header{
    height: auto;
    font-family: "Teko", sans-serif;
    color:#F2D544;
    letter-spacing: 10px;
}

 nav{
     background-color: #F2D544; 
     text-align: center;
 }

 nav ul li{
     list-style-type: none;
     display: inline-block;
     background-color: #F2CA52; 
     width:10%;
     min-width: 100px;
     padding: 10px;
     text-align: center;
     border-radius: 30px;
     /*margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 5px;*/
     min-width: 100px;
     margin-bottom: 5px;
     margin-top: 5px;
 }

nav ul li a:link, nav ul li a:visited{
     text-decoration: none;
     color:black;
 }
nav ul li:first-child {
    background-color:antiquewhite;
}

nav ul li:first-child a {
    color: black; 
}

nav ul li:hover{
    background-color:#F2D888;
}

section{
    background-color: #F2D888; 
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 30px;
     overflow-x: auto;
}

h2{
    margin-bottom: 30px;
    font-family: "Advent Pro", sans-serif;
    letter-spacing: 7px;
}

h1{
     text-align: center;
     font-size: 48px;
}

footer{
     text-align: center;
     height: 48px;
     background-color:#F2D544; 
}
img{
    width: 100%;
    margin-top: 30px;
}
main section {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
p{
    margin-top: 20px;
}
.img_flotante{
    width: 30%;
    float: left;
    margin-top: 0;
    margin-right: 20px;
}
.alineacion{
    float: right;
    margin: 0;
}
footer img {
    width: 35px;  
    height: auto; 
    display: inline-block; 
    margin: 10px; 
    vertical-align: bottom;
}
  footer a {
    text-decoration: none;
    color:  black; 
    }
    footer a:hover {
    color: darkred; 
    }